{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="about-cntr">
        <div class="about-content">
            <div class="about-main">
                <h1>About Us</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio aliquid nulla quidem ducimus, error aliquam iusto? Earum eos perferendis quod fugiat rerum omnis consequatur ex. Illo facere, libero reprehenderit, a et incidunt vitae, quidem quos neque blanditiis eius quia consectetur voluptas tempore? Nesciunt perferendis earum nobis? Modi odit harum ducimus labore libero ipsum neque dolorum nostrum. Illo, adipisci. Deserunt cumque illo ipsam perspiciatis corporis exercitationem architecto quod eaque eos ullam quasi nostrum eum nemo autem cum corrupti in dolores, nihil repudiandae libero et sit deleniti minima quaerat. Dolorum, at dolore. Consectetur quidem cumque optio eligendi blanditiis exercitationem illo cupiditate aliquam.</p>
            </div>
            <img src="{% static 'images/store.jpg' %}" alt="store">
            <img src="{% static 'images/store2.jpg' %}" alt="store">
        </div>
    </div>
{% endblock content %}